<% @page_title = " | BucketList" %>

  <% content_for :google_maps do %>
    <script>
      $(document).ready(function() {
        console.log("loaded!");
        <% @item_markers.each do |marker| %>
          setMarker(<%= marker[:lat] %>, <%= marker[:long] %>, "<%= marker[:title] %>");
        <% end %>
      });
    </script>
  <% end %>

<br>
<div class="container">
  <h1 class="center">New Item</h1>
<br>
    <%= render 'form' %>
</div>
