<% @page_title = " | HomeBase" %>
<div class="row">
  <div class="col-md-4" align="center">
    <%= link_to "OurMemories", memories_path, class: 'btn btn-info' %>
  </div>
  <div class="col-md-4" align="center">
    <%= link_to "OurPlans", plans_path, class: 'btn btn-info' %>
  </div>
  <div class="col-md-4" align="center">
    <%= link_to "BucketList", items_path, class: 'btn btn-info' %>
  </div>
</div>
<br>
