<% @page_title = " | HomeBase" %>

<% content_for :google_maps do %>
  <script>
    function initialize() {
      console.log("initializing!");
      var mapProp = {
        center:new google.maps.LatLng(20, 10),
        zoom: 2,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      var map=new google.maps.Map(document.getElementById("googleMap"), mapProp);
      var marker = new google.maps.Marker({
        position: {lat: 37.0000, lng: -120.0000},
        map: map,
        title: 'Hello World!'
      });
    }
  </script>
<% end %>

  <div class="container">
    <div class="row">
      <div class="col-md-4" align="center">
        <%= link_to memories_path, class: 'btn btn-info' do %>
          <i class="glyphicon glyphicon-book"> OurMemories</i>
        <% end %>
      </div>
      <div class="col-md-4" align="center">
        <%= link_to plans_path, class: 'btn btn-primary' do %>
          <i class="glyphicon glyphicon-list-alt"> OurPlans</i>
        <% end %>
      </div>
      <div class="col-md-4" align="center">
        <%= link_to items_path, class: 'btn btn-warning' do %>
          <i class="glyphicon glyphicon-globe"> BucketList</i>
        <% end %>
      </div>
    </div>
  </div>
