/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

.form-control {
    &.date {
        width: 50%;
    }
}

#myCarousel {
    width: auto;
}

.carousel-control {
    background-image: none;
    color: white;
}

.carousel-control.right {
    background-image: none;
    color: white;
    float: right;
}

.carousel-control.left {
    background-image: none;
    color: white;
}

.carousel-indicators li {
    border-color: white;
}

.carousel-indicators li.active {
    background-color: white;
}

.carousel-title {
    font-family: 'Lato', sans-serif;
}

.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}

.item span {
    font-style: normal;
}

#calendar {
    width: auto;
}

#googleMap {
    width: auto;
    height: 400px;
}

.memories-button {
  text-align: center;

  &.centered {
    text-align: center;
  }
}

.plans-button {
  text-align: center;
}

.bucket-list-button {
  text-align: center;
}

.lato {
  font-family: 'Lato', sans-serif;
}

.center {
  text-align: center;
}

.avatar {
  text-align: center;
  width: auto;
}
