<p>Hey <%= @email %>!</p>

<p>Confirm your account email through the link below</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @token) %></p>

<p>and start making memories with your partner!</p>

<p>Kyle, Founder of OurDiary</p>
