<% @page_title = " | OurPlans" %>

<div class="container">
    <h1>Edit Plan</h1>
      <%= render 'form' %>
  <br>
    <%= link_to 'Show', @plan, class: 'btn btn-default' %>
    <%= link_to 'Cancel', plans_path, class: 'btn btn-default' %>
  <br>
  <br>
</div>
